.userBagHeading {
    margin-left: 1rem;
}

.discs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.disc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
}

.discFlightCharacteristicsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* margin-top: 0.5rem; */
}

.discManufacturerWeightAndNameConatiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.discManufacturerAndName {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.discWeight {
    /* margin-right: 0.5rem; */
    padding: 0 0.2rem;
    /* margin-top: 0.5rem; */
    border: 1px black solid;
    border-radius: 30px;
}

.discFlightCharacteristics {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.individualDiscFlightCharacteristics {
    margin: 0.25rem;
    padding: 0.25rem;
    border: 1px black solid;
    border-radius: 15px;
}

.discManufacturer {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 0.25rem;
}

.discName {
    font-size: larger;
    font-weight: bold;
}

.deleteButton {
    text-align: right;
    margin-top: 0.25rem;
}