.userBagHeading {
    margin: 1rem 1rem 1rem 1.5rem;
    color: black;
    font-size: 48px;
}

.discs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.disc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.5rem;
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: 5px solid #00bbdd;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.8);
    /* height: 182px; */
    width: 330px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}

.discFlightCharacteristicsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.discManufacturerWeightAndNameConatiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.discManufacturerAndName {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.discWeight {
    /* margin-right: 0.5rem; */
    padding: 0 0.2rem;
    /* margin-top: 0.5rem; */
    border: 2px rgb(248, 144, 231) solid;
    /* border: 2px #00bbdd solid; */
    border-radius: 30px;
    /* background-color: rgba(248, 144, 231, .5); */
    background-color: rgba(255, 255, 255, 0.8);
}

.discFlightCharacteristics {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.individualDiscFlightCharacteristics {
    margin: 0.25rem;
    padding: 0.25rem;
    border: 1px #00bbdd solid;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

.discManufacturer {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.discPlastic {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 0.25rem;
}

.discName {
    font-size: larger;
    font-weight: bold;
}

.deleteButton {
    text-align: right;
    margin-top: 0.25rem;
}

.discTypeHeading {
    width: 100%;
    border: 5px solid rgb(248, 144, 231);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    background-color: black;
    margin: 0.5rem 0.5rem;
    border-radius: 30px;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    font-size: 28px;
}

/* .discTypeHeading {
    width: 100%;
    border: 2px solid black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 0.5rem 0.5rem;
    background-color: rgba(245, 245, 245, 0.8);;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    border-radius: 15px;
    font-size: 28px;
} */

/* .discTypeHeading {
    width: 100%;
    border-top: 5px solid rgb(248, 144, 231);
    border-bottom: 5px solid rgb(248, 144, 231);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    background-color: black;
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    font-size: 28px;
} */