.discForm {
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
}

.btn {
    margin-right: 0.5rem;
}

.btn-info {
    background-color: #00bbdd;
    border: #00bbdd solid 1px;
    color: white;
}

#discFormControl {
    width: 250px;
}