.discForm {
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
    width: fit-content;
}

.discFormContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    margin-left: 0.5rem;
    width: 10rem;
}

.btn-info {
    background-color: #00bbdd;
    border: #00bbdd solid 1px;
    color: white;
}

#discFormControl {
    /* width: 250px; */
    width: 30rem;
}

.buttonRow {
    display: flex;
    justify-content: flex-end;
}

/* .discFormRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 4rem;
}


.buttonRow {
    display: flex;
    justify-content: center;
    margin: 0 12rem;
} */