.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    
}

.inputLabel {
    text-align: left;
    width: 100%;
    display: inline-block;
    font-size: larger;
}

.form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

.container--login {
    text-align: center;
    background-color: #060606;
    color: white;
    height: 100vh;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 15rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin-top: 15vh;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.button {
    background-color: #00bbdd;
    border: 5px solid #00bbdd;
    border-radius: 10px;
    padding: 3px;
    color: white;
    width: 8rem;
}

.hyperlink {
    color: rgb(248, 144, 231);
}

.labelAndInputField {
    margin: 0 20%;
}

.buttonFieldSet {
    margin: 0 20%;
    padding-top: 0;
    text-align: right;
}